@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">No meu projeto o usuário entra inicialmente número de movimentos do elevador que deseja.
        Após é solicitado o total de andares do prédio e a capacidade de pessoas do elevador.
        As variáveis de controle de andar e de número de pessoas dentro do elevador são inicializadas com o valor "zero".
        Na classe Main é solicitada o número de movimentos e em seguida é solicitado que o método de inicialização na classe Elevador
        solicite os parâmetros do edifício e do elevador.
        O começa então as movimentações do elevador até atingir o número indicado pelo usuário.
        Utilizei variáveis atualizadas aleatoriamente pela função Random para indicar quantos passageiros querem entrar ou sair
        o andar de parada e se os passageiros querem entrar ou sair.
        Como solicitado os métodos de inicializar, subir, descer, entrar e sair foram implementdos na classe Elevador na pasta Model.
        A lógica de utilização dos métodos está descrita em comentários no corpo da class Main.
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
